@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Raleway, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 18px;
}

html {
  scroll-padding-top: 220px;
}

@media (max-width: 640px) {
  html {
    scroll-padding-top: 80px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navgroup:hover .navgroup-text {
  color: white;
}

.navgroup:hover .navgroup-box {
  display: flex;
}

#Testimonials .rec-carousel-item {
  display: flex;
  align-items: center;
}